.list-more {
	margin-top: 62px;
	text-align: center;
	a.box-btn {
		display: inline-block;
		width: 288px;
		overflow: hidden;
		color: $base-font-color;
		border: 1px solid $gray;
		text-align: center;
		vertical-align: top;
		span {
			display: inline-block;
			font-size: 22px;
			font-weight: 400;
			line-height: 59px;
		}
		.ico-more {
			display: inline-block;
			margin-left: 7px;
			padding-bottom: 4px;
			width: 12px;
			height: 12px;
			@include bg('ico_list_more', $path:'baeksang', $position:0 center);
		}
		&:hover {
			background-color: $primary;
			border-color: $primary;
			color: $white;
			.ico-more {
				@include bgImg('ico_list_more_over', $path:'baeksang');
			}
		}
	}
}
