.tb_view {
	text-align: left;
	margin: 0 0 14px;
	border-top: 2px solid #555;
	.veiw_tit {
		font-size: 18px;
		font-weight: 700;
		line-height: 26px;
		padding: 18px 22px 16px;
		color: $base-font-color;
		border-bottom: 1px solid $black;
		.ico_status2 {
			margin-right: 12px;
		}
		.view_copy {
			font-size: 16px;
			font-weight: 400;
			line-height: 16px;
			display: block;
			padding: 10px 0 0;
		}
	}
	.view_cont {
		position: relative;
		border-bottom: 1px solid $light4;
	}
	.view_cont_txt {
		overflow: hidden;
		min-height: 250px;
		padding: 20px 20px 57px;
		.write_tbl01 {
			margin: 10px 0 0;
		}
		img {
			display: block;
			max-width: 700px;
			margin: 10px auto;
		}
		p {
			font-size: 18px;
			line-height: 28px;
			color: $dark2;
			strong {
				font-weight: 700;
			}
			em {
				font-style: italic;
			}
		}
	}
	.view_cont_txt.no_sns {
		padding-bottom: 30px;
	}
	.share_btn_group {
		right: 0;
	}
	.filesave_wrap {
		position: relative;
		margin: 0 0 40px 20px;
		.filesave_list.on {
			display: block;
		}
		.filesave_list {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 150px;
			display: none;
			min-width: 200px;
			padding: 15px 34px 15px 20px;
			border: 1px solid #ccc;
			background: $white;
			box-shadow: 3px 3px 3px #ececec;
			li {
				padding-left: 16px;
				background: url(#{$imgnow}/baeksang/ico_file_save.png) left 5px no-repeat;
				&:first-child {
					margin-bottom: 7px;
				}
				a {
					color: $base-font-color;
					&:focus {
						text-decoration: underline;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.bnt_close {
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				width: 8px;
				height: 9px;
				padding: 7px;
				text-indent: -999em;
				// background: url("/images/common/btn_filesave_close.png) 7px 7px no-repeat;
			}
		}
	}
}
.tb_view.position01 {
	position: relative;
}
.tbl_other {
	margin: 60px 0 0;
	border-top: 1px solid #eaeaea;
	li {
		padding: 19px 0 20px;
		border-bottom: 1px solid #eaeaea;
		>strong {
			display: inline-block;
			padding-left: 20px;
			width: 140px;
			font-size: 18px;
			color: $gray3;
			font-weight: normal;
		}
		strong {
			.ico {
				display: inline-block;
				width: 12px;
				height: 7px;
				margin-left: 26px;
				vertical-align: middle;
			}
		}
	}
	a {
		font-size: 18px;
		color: $dark2;
		&:focus {
			color: #00306e;
			text-decoration: underline;
		}
		&:hover {
			color: #00306e;
			text-decoration: underline;
		}
	}
	li.pre {
		strong {
			.ico {
				background: url(#{$imgnow}/baeksang/list_prev.png) no-repeat;
			}
		}
	}
	li.nex {
		strong {
			.ico {
				margin-left: 30px;
				background: url(#{$imgnow}/baeksang/list_next.png) no-repeat;
			}
		}
	}
}
